#custom-search-input {
    padding: 3px;
    border: solid 1px #a49d9d;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

/* Card like templates*/
* {
    box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
    font-family: Arial;
    padding: 20px;
    background: url("/img/body_bg.png");
}

/* Header/Blog Title */
.header {
    padding: 35px;
    font-size: 40px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    width: 90%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    box-sizing: border-box;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.approw:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

.top-buffer {
    margin-top: 20px;
}


@media (min-width: 768px){
    .col-sm-custom {
        width: 2.333333%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}


.container-center {
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 768px){
    .col-sm-5-c{
        width: 46%;
        position: relative;
        min-height: 1px;
        float: left;
    }
}


.graph-panel {
    width: 20%;
    background: #fff;
    padding: 0 30px 26px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.302), 0 1px 3px 1px rgba(60,64,67,.149);
    margin-top: 20px;
    margin-bottom: 18px;
    margin-left: 25px;
}